<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <nav
                class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid px-0">
                    <a class="navbar-brand font-weight-bolder ms-sm-3" href="{% link index.markdown %}" rel="tooltip"
                        title="Learning" data-placement="bottom" target="_blank">
                        <i class="fa fa-graduation-cap me-1"></i>
                        Forge RSE
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover ms-auto">
                            <li class="nav-item ms-lg-auto">
                                <a class="nav-link nav-link-icon me-2" href="{% link framework.markdown %}">
                                    <p class="d-inline text-sm z-index-1" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="Star us on Github">Competancy Framework</p>
                                </a>
                            </li>
                            <li class="nav-item ms-lg-auto">
                                <a class="nav-link nav-link-icon me-2" href="{% link resources.markdown %}">
                                    <p class="d-inline text-sm z-index-1" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="Star us on Github">Training Resources</p>
                                </a>
                            </li>
                            <li class="nav-item ms-lg-auto">
                                <a class="nav-link nav-link-icon me-2" href="{% link profiles.markdown %}">
                                    <p class="d-inline text-sm z-index-1" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="Star us on Github">Profiles</p>
                                </a>
                            </li>
                            <li class="nav-item ms-lg-auto">
                                <a class="nav-link nav-link-icon me-2" href="https://github.com/RSEToolkit/training"
                                    target="_blank">
                                    <i class="fa fa-github me-1"></i>
                                    <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="Star us on Github">Github</p>
                                </a>
                            </li>
                            <li class="nav-item my-auto ms-3 ms-lg-0">

                                <a href="#" class="btn btn-sm  bg-gradient-primary  mb-0 me-1 mt-2 mt-md-0">Get
                                    Started</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>

<header class="header-2">
    <div class="page-header min-vh-75 relative"
        style="background-image: url('./assets/img/ryan-stone-U3cctUBucn0-unsplash.jpg')">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <h1 class="text-white pt-3 mt-n5">Forge RSE Skill Development Pathways</h1>
                    <p class="lead text-white mt-3">Shared, collaberative and progressive learning paths for roles in
                        the RSE
                        community.</p>
                </div>
            </div>
        </div>
    </div>
</header>