{% if page.layout == "home" %}
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        {% endif %}
        <div class="container">
            <a class="navbar-brand text-white" href="{% link index.md %}" rel="tooltip" title="RSE Competencies Toolkit"
                data-placement="bottom">
                <img src="../assets/img/1529053464.svg" alt="down-arrow" class="arrow ms-2 d-lg-block d-none">
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
                <ul class="navbar-nav navbar-nav-hover ms-auto">
                    <li class="nav-item ms-lg-auto">
                        <a class="nav-link mx-2" href="{% link about.md %}">
                            About
                        </a>
                    </li>
                    <li class="nav-item ms-lg-auto">
                        <a class="nav-link nav-link-icon me-2"
                            href="https://github.com/RSEToolkit/rse-competencies-toolkit">
                            <i class="fa fa-github me-1"></i>
                            <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Star us on Github">Github</p>
                        </a>
                    </li>
                    <li class="nav-item my-auto ms-3 ms-lg-0">
                        <a href="#"
                            class="btn btn-sm {% if page.layout == 'home' %}bg-white{% else %}btn-primary{% endif %} mb-0 me-1 mt-2 mt-md-0 disabled">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if page.layout == "home" %}
    <header class="bg-gradient-dark">
        <div class="page-header min-vh-75" style="background-image: url('../assets/img/hero-1.png');">
            <span class="mask bg-gradient-dark opacity-5"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center mx-auto my-auto">
                        <h1 class="text-white">Research Software<br />Competencies Toolkit</h1>
                        <p class="lead mb-4 text-white opacity-8">Identify skills, define development pathways and
                            progress your
                            career in research software.</p>
                        <button type="submit" disabled class="btn bg-white text-dark">Create Account</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endif %}