---
layout: default
---
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <section class="py-7">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="row py-5">
            <h3>Welcome</h3>
            <p class="text-lg">Welcome to The RSE Competencies Toolkit, a community resource to support RSEs (Research
              Software Engineers) in tracking and managing their professional development. It is currently in the early
              stages of development and we welcome contributions and feedback.</p>
            <p>Note that, while we've focussed on RSE during the early stages of development, this tool can be used for
              any roles. We plan to extend this to other research roles and welcome contributions and collaboration from
              anyone working in research, broadly defined.</p>
            <p>Please join our <a href="https://ukrse.slack.com/archives/C05CY0YFWEL">Slack Channel</a> to connect and
              discuss your ideas or suggestions with other members of the group.</p>
            <p><a href="{% link about.md %}" class="text-info icon-move-right">More about the project
                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
              </a>
            </p>
          </div>
        </div>
        <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <a class="d-block blur-shadow-image">
                <img
                  src="https://images.unsplash.com/photo-1544717302-de2939b7ef71?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                  alt="img-colored-shadow" class="img-fluid border-radius-lg">
              </a>
            </div>
            <div class="card-body text-center">
              <h5 class="font-weight-normal">
                <a href="javascript:;">A framework for success</a>
              </h5>
              <p class="mb-0">
                The Competencies Framework is a community model that defines the knowledge, skills, and behaviours
                that individuals need to attain
                to succeed in research software roles
              </p>
              <a href="https://github.com/RSEToolkit/rse-competencies-toolkit/blob/main/_data/skills.json"
                class="btn bg-gradient-info btn-sm mb-0 mt-3">Draft Framework</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <h3>Competency wheel examples</h3>
        <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
          <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4 h-100">
            <div class="ps-0 ps-md-3 mt-3 mt-md-0">
              <div>
                <div id="legend-a"></div>
                <div>
                  <canvas id="chart-a"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
          <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4 h-100">
            <div class="ps-0 ps-md-3 mt-3 mt-md-0">
              <div>
                <div id="legend-b"></div>
                <div>
                  <canvas id="chart-b"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
          <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4 h-100">
            <div class="ps-0 ps-md-3 mt-3 mt-md-0">
              <div>
                <div id="legend-c"></div>
                <div>
                  <canvas id="chart-c"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          const DATA_A = {
            "Technical skills (general)": {
              "Collaborative software development": 3,
              "Version control": 3,
              "Continuous integration / continuous delivery": 2,
              "Systems design, architecture & development": 4,
              "Software documentation": 5,
              "Testing": 1,
              "Coding conventions": 2,
              "Software licensing": 1,
              "Software packaging & release": 3,
              "Programming paradigms": 1,
              "Programming": 4,
              "Environmental impact awareness": 3
            },
            "Technical (specific)": {
              "Visualization": 2,
              "High performance computing": 4,
              "Programming languages": 1,
              "Parallelization": 4,
              "Web development": 7,
              "Systems administration": 1,
              "Data analysis": 1,
              "AI/ML": 7,
              "User Experience": 3,
              "Technical translation between researchers and RSEs": 1,
              "Virtualization & Cloud computing": 4,
              "Code optimization": 2
            },
            "Interpersonal": {
              "Understanding of mental health, stress and burnout": 6,
              "Building of community of practice": 3,
              "Collaboration & building connections": 4,
              "People management": 4,
              "Leadership & communication skills": 1,
              "Mentorship skills": 4,
              "Stakeholder management": 4,
              "Diversity, Equity and Inclusion": 4
            },
            "Leadership & management": {
              "Project management": 7,
              "Planning and organising events (workshops, meet-ups, conferences etc)": 1,
              "Grant/proposal writing": 4,
              "Evaluation and assessment": 1,
              "Agile project management methodologies": 5,
              "Recruitment": 4,
              "Resource management (time, budget)": 7,
              "Strategy": 4,
              "Change management": 3
            },
            "Domain expertise": {
              "Research methodologies": 1,
              "Ethics": 5,
              "Domain-specific technical skills (AI/ML, research data and analytics, visualisation, computational science)": 2,
              "Legal and regulatory": 7,
              "Developing domain-specific training": 2
            },
            "Communication & dissemination": {
              "Delivering training": 1,
              "Writing and publication": 4,
              "Public science communication": 5,
              "Peer science communication": 1,
              "Content and knowledge management": 4
            }
          };

          const DATA_B = {
            "Technical skills (general)": {
              "Collaborative software development": 3,
              "Coding conventions": 2,
              "Software licensing": 1,
              "Programming": 4,
              "Environmental impact awareness": 3
            },
            "Technical (specific)": {
              "Visualization": 2,
              "Parallelization": 4,
              "User Experience": 3,
              "Technical translation between researchers and RSEs": 1,
              "Code optimization": 2
            }
          };

          const DATA_C = {
            "Interpersonal": {
              "Collaboration & building connections": 4,
              "People management": 4,
              "Stakeholder management": 4,
              "Diversity, Equity and Inclusion": 4
            },
            "Leadership & management": {
              "Project management": 7,
              "Recruitment": 4,
              "Resource management (time, budget)": 7,
              "Strategy": 4,
              "Domain expertise": 3,
              "Research methodologies": 1,
              "Developing domain-specific training": 2
            },
            "Communication & dissemination": {
              "Delivering training": 1,
              "Content and knowledge management": 4
            }
          };

          createSkillChart(DATA_A, chart_id = "chart-a", legend_id = "legend-a");
          createSkillChart(DATA_B, chart_id = "chart-b", legend_id = "legend-b");
          createSkillChart(DATA_C, chart_id = "chart-c", legend_id = "legend-c");
        </script>
      </div>
    </div>
  </section>
</div>