---
layout: default
---
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="mb-4 w-100">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% link index.md %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.category }}</li>
          </ol>
        </nav>
        <h3>{{ page.title }}</h3>
      </div>
      {{ content }}
    </div>
  </div>
</div>
