---
layout: default
---
<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

  <section class="my-5 py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10 ms-auto me-auto">
          <h3>Competancy Profiles</h3>
          <h6 class="text-secondary font-weight-normal pe-3">
          </h6>

          <div class="row">
            <div class="col-lg-4">
              <div class="info-horizontal bg-gradient-primary border-radius-xl d-block d-md-flex p-4">
                <div class="ps-0 ps-md-3 mt-3 mt-md-0">
                  <h5 class="text-white">Hannah Williams</h5>
                  <p class="text-white">text</p>
                  <a href="{{ site.baseurl }}{% link profile.markdown %}" class="text-white icon-move-right">
                    View comptetancy wheels
                    <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
              <div class="info-horizontal bg-gradient-primary border-radius-xl d-block d-md-flex p-4">
                <div class="ps-0 ps-md-3 mt-3 mt-md-0">
                  <h5 class="text-white">Aman Goel</h5>
                  <p class="text-white">text</p>
                  <a href="{{ site.baseurl }}{% link profile.markdown %}" class="text-white icon-move-right">
                    View comptetancy wheels
                    <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mt-lg-0 mt-4">
              <div class="info-horizontal bg-gradient-primary border-radius-xl d-block d-md-flex p-4">
                <div class="ps-0 ps-md-3 mt-3 mt-md-0">
                  <h5 class="text-white">Aleksandra Nenadic</h5>
                  <p class="text-white">text</p>
                  <a href="{{ site.baseurl }}{% link profile.markdown %}" class="text-white icon-move-right">
                    View comptetancy wheels
                    <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </section>


</div>