---
layout: default
---
<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

  <section class="my-5 py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10 ms-auto me-auto">
          <h3>Training Resources </h3>
          <h6 class="text-secondary font-weight-normal pe-3">
          </h6>

          <!-- Input with icon -->
          <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
            <div class="tab-content tab-space">
              <div class="tab-pane active" id="preview-inputs-2">



                <table class="table">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Category</th>
                      <th>Competency level</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% assign resources = site.data.resources_list | sort: "Name" | reverse %}
                    {% for resource in resources %}
                    <tr>
                      <td>{{ resource.title }}</td>
                      <td>{{ resource.category }}</td>
                      <td><a href="{{ site.baseurl }}{% link resource.markdown %}" class="btn btn-primary m-auto">View
                          Competance</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


</div>